html, body {
    background-color: black;
    margin: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#svg-element {
	overflow: visible;
    height: 100vh;

    scale: 1.2;
    translate: -12px 0;
}

/* .youre {
    fill: white;
}

.on {
    fill: #00FFFF;
}

.manitej {
    fill: #FF3BFF;
}

.dot {
    fill: white;
}

.com {
    fill: #00FFFF;
} */

.youre, .on, .manitej, .dot, .com {
    fill: white;
}