---
import "../components/index.css";
import Navbar from "../components/navbar.tsx";

// @ts-ignore
import { ClientRouter } from "astro:transitions";
---

<html lang="en" transition:animate={'none'}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />

        <meta
            name="description"
            content="My name is Manitej and this is my personal website! It's my weird little home with stuff I have, but there's still more coming. Stick around."
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta name="og:title" content="hey, i'm manitej!" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.manitej.com/" />

        <meta property="og:image" content="https://www.manitej.com/favicon.png" />
        <meta property="og:image:height" content="300" />

        <title>manitej</title>
        <ClientRouter />

        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body class="bg-black">
        <div class="h-screen w-screen flex items-center justify-center">
            <div class="flex flex-col">
                <Navbar />
                <div class="w-[400px] h-[400px]">
                    <img
                        src="./image.jpeg"
                        width="400px"
                        class="m-0"
                    />                    
                </div>
            </div>
        </div>
    </body>
</html>
