---
import { Card } from '../components/Card';
import { ManitejImage } from '../components/ManitejImage';
import '../components/index.css';
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
        <title>manitej</title>
    </head>

    <body>
        <div class="cards">
            <ManitejImage />
            <Card title="About" body="/about" />
        </div>
    </body>
</html>