---
import { Me } from "../components/Me";
import "../components/index.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />

        <meta
            name="description"
            content="My name is Manitej and this is my personal website! It's my weird little home with stuff I have, but there's still more coming. Stick around."
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta name="og:title" content="hey, i'm manitej!" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.manitej.com/" />

        <meta property="og:image" content="https://www.manitej.com/favicon.png" />
        <meta property="og:image:height" content="300" />

        <title>manitej</title>
    </head>

    <body>
        <nav>
            <a href="">me</a>
            <a href="">blog (soon)</a>
            <a href="">projects (soon)</a>
        </nav>

        <main>
            <div class="me">
                <Me client:only />
            </div>

            <h1>hey, i'm manitej!</h1>
            <p>I spend time doing a lot of things, and I'm not sure why I do them. Most times those things are anything relating to computers, from physically setting up servers and homelabs to trying to code websites like these (and some other stuff. <a href="https://github.com/techpixel">You can check out my github</a>). I'm hoping to get into computer science and urban planning, and do something between the two in the future (perhaps making transit better and more accessible, or simply designing better cities?).</p>
<!-- 
            <p style="margin-bottom: 0;">Some of my projects:</p>
            <ul>
                <li><a href="arcade.hackclub.com">Arcade</a></li>
            </ul> -->

            <p>Not gonna put my contact info here just yet (todo: set up an email). I'm @manitej on the Hack Club Slack though.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
        </main>
    </body>
</html>
